html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

::selection {
    background: #505cd8;
    color: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #f2f2f2;
    box-sizing: inherit;
    display: block;
    overflow-x: hidden;
    min-width: none;
    max-width: 960px;
    margin: 10px auto 0px;
    padding: 0px 20px 0px;
}

nav {
    display: flex;
    /* margin: 0em auto 3em; */
}

/* .header {
    display: flex;
    margin: 0px 0px 10px 0px;
} */

.header p {
    font-size: 24px;
    color: #501883;
    font-family: "Inclusive Sans", sans-serif;
}

.header a {
    text-decoration: none;
}

.header-items {
    /* margin: 0px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inclusive Sans", sans-serif;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
    /* text-align: left; */
    font-weight: 600;
}

li {
    font-family: "Inclusive Sans", sans-serif;
    /* margin: 20px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
    /* text-align: left; */
}

p {
    font-family: "Source Sans 3", sans-serif;
    line-height: normal;
    font-size: 16px;
    margin: 8px 0px 16px 0px;
}

code {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    background-color: #001d4f;
    color: #fff;
    display: block;
    border: 10px;
}

a {
    color: #501883;
    text-decoration: wavy underline;
}

#placeholder {
    align-content: center;
}

#title {
    font-size: 48px;
    margin: 20px 0px 5px 0px;
}

#subtitle {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 24px;
    font-weight: 200;
    padding: none;
    margin: 0px 0px 20px 0px;
    font-style: italic;
}

#faq-subtitle {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: none;
    margin: 0px 0px 20px 0px;
    font-style: italic;
}

#recieve {
    font-size: 18px;
    margin: 5px 0px;
    padding: 5px 0px;
}

input {
    background-color: transparent;
    margin: 10px 5px 0px 0px;
    font-family: "Source Sans 3", sans-serif;
    border-radius: 0px;
    border-width: 1px 1px 1px;
    border-style: solid solid solid;
    border-color: transparent transparent transparent;
    border-image: initial;
    border-bottom: 1px solid #000;
    padding: 0.5em 0px;
    stroke: none;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    writing-mode: horizontal-tb !important;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #501883;
    transition: all 0.35s ease-in-out;
}

#feedback {
    background-color: transparent;
    margin: 10px 0px 0px 0px;
    font-family: "Source Sans 3", sans-serif;
    border-radius: 0px;
    border-width: 1px 1px 1px;
    border-style: solid solid solid;
    border-color: transparent transparent transparent;
    border-image: initial;
    border-bottom: 1px solid #000;
    display: contents;
    padding: 0.5em 0px;
    stroke: none;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    writing-mode: horizontal-tb !important;
}

#feedback:focus {
    outline-width: 1px;
    width: 240px;
    height: 120px;
}

button {
    background-color: #000;
    color: #fff;
    font-size: inherit;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 26px;
    width: 80px;
    /* padding: 12.5px px; */
    border-style: none;
    border-radius: 2.5px;
}

button:hover {
    background-color: #501883;
    color: #f2f2f2;
    transition: all 0.35s ease-in-out;
}

button:active {
    background-color: #4f1883d7;
    color: #f2f2f2;
    transition: all 0.15s ease-in-out;
}

#submit {
    margin: 10px 0px 10px;
    text-align: center;
    /* padding: 10px 0px 10px; */
    display: block;
}

/* .container {`
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */
