/*! Cleaned and unified Cooper Hewitt webfont definitions
    Original export: Font Squirrel (https://www.fontsquirrel.com)
    Date: October 12, 2025
*/

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('cooperhewitt-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-thinitalic-webfont.woff2') format('woff2'),
         url('cooperhewitt-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-light-webfont.woff2') format('woff2'),
         url('cooperhewitt-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
         url('cooperhewitt-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-regular-webfont.woff2') format('woff2'),
         url('cooperhewitt-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-italic-webfont.woff2') format('woff2'),
         url('cooperhewitt-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
         url('cooperhewitt-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    font-display: swap;
    src: url('cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('cooperhewitt-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
